header {
  vertical-align: top;
  display: inline; 
  flex-direction: row;
  overflow: hidden;
  background-color: #ffffff;
  padding: 20px 10px;
  
}
links{
  display: inline
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: pink;
  color: black;
}

h1{
  font-size: 20px;
  display: inline;
  font-family: sans-serif;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin: 30px;
  flex-direction:row;
}
.skills-flex-container{
  display: flex;
  justify-content: center;
  margin: 30px;
  flex-direction:row;
  flex-shrink: 3
}
.item {
  order: 3; 
  flex-shrink: 3
}

.footer {
  position: bottom;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  font-family: sans-serif;
  background-color: rgb(240, 240, 240);
}
.description {
  padding: 1rem;
  flex-grow: 1;
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  border-radius: 1rem;
  margin: 1rem 1rem;
}

}
.description:hover {
  box-shadow: 1px 1px 9px 3px rgba(0, 0, 0, 0.2)
}

button {
  padding: .5em;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: solid 1px #048d9b;
  color: #048d9b;
  background-color: white;
    display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.5;
  border-radius: .5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button:hover {
  color: white;
  background-color: #048d9b;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  font-weight: medium;
}
button:focus {
  outline-width: 3px;
  outline-style: dashed;
  outline-color: #05b1c3;
}

hr {
  margin: 1rem 0
}
.flex-alignment-container {
  height: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}
.flex-alignment-container > div {
  background-color: gray;
  min-width: 1rem;
  min-height: 1rem;
  margin: .5rem; 
}